@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #1e1e1e;
  --foreground: #f0f4f8;
  --primary-blue: #5dd2c0;
  --primary-gray: #3a3a3a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', 'Roboto', 'Noto Sans', Helvetica, sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  letter-spacing: 0.1em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom background class */
.bg-icons-background {
  background-image: url('/iconsBigBG.png');
}
